In [1]:
from sagas.ofbiz.entities import OfEntity as e
e('meta').Person

2021-04-18 14:17:43,526 - sagas.ofbiz.connector - INFO - connect to py4j-gateway localhost 22333

                        name            type primary internal
0                    partyId              id       *
1                 salutation            name
2                  firstName            name
3                 middleName            name
4                   lastName            name
5              personalTitle            name
6                     suffix            name
7                   nickname            name
8             firstNameLocal            name
9            middleNameLocal            name
10             lastNameLocal            name
11                otherLocal            name
12                  memberId              id
13                    gender       indicator
14                 birthDate            date
15              deceasedDate            date
16                    height  floating-point
17                    weight  floating-point
18         mothersMaidenName    long-varchar
19          oldMaritalStatus       indicator
20       maritalStatusEnumId              id
21      socialSecurityNumber    long-varchar
22            passportNumber    long-varchar
23        passportExpireDate            date
24  totalYearsWorkExperience  floating-point
25                  comments         comment
26    employmentStatusEnumId              id
27     residenceStatusEnumId              id
28                occupation            name
29         yearsWithEmployer         numeric
30        monthsWithEmployer         numeric
31          existingCustomer       indicator
32                    cardId         id-long
33          lastUpdatedStamp       date-time                *
34        lastUpdatedTxStamp       date-time                *
35              createdStamp       date-time                *
36            createdTxStamp       date-time                *

In [2]:
e('relations').Person

,entity name,type,relation,mapping
0,Party,one,Party,partyId►partyId
1,Enumeration,one,EmploymentStatusEnumeration,employmentStatusEnumId►enumId
2,Enumeration,one,ResidenceStatusEnumeration,residenceStatusEnumId►enumId
3,Enumeration,one,MaritalStatusEnumeration,maritalStatusEnumId►enumId
4,PartyContactMech,many,PartyContactMech,partyId►partyId
5,PartyContactMechPurpose,many,PartyContactMechPurpose,partyId►partyId
6,PersonTraining,many,ApproverPersonTraining,partyId►approverId
7,ProdCatalogRole,many,ProdCatalogRole,partyId►partyId
8,ProductStoreRole,many,ProductStoreRole,partyId►partyId
9,Shipment,many,ToShipment,partyId►partyIdTo
10,Shipment,many,FromShipment,partyId►partyIdFrom
11,ShipmentRouteSegment,many,CarrierShipmentRouteSegment,partyId►carrierPartyId
12,UserLogin,many,UserLogin,partyId►partyId
13,WebSiteRole,many,WebSiteRole,partyId►partyId

In [9]:
from sagas.ofbiz.services import OfService as s, MetaService
name='createPerson'
model=MetaService(name).model
model.getDefaultEntityName(), model.getLocation(), model.getNameSpace()

('Person', 'org.apache.ofbiz.party.party.PartyServices', '')

In [12]:
model.getDescription(), model.getDefaultEntityName()

('Create a Person', 'Person')

In [14]:
from sagas.ofbiz.services import OfService as s, oc
services=oc.all_service_names()
services[:5]

['SagePayPaymentAuthentication',
 'SagePayPaymentAuthorisation',
 'SagePayPaymentRefund',
 'SagePayPaymentRelease',
 'SagePayPaymentVoid']

In [16]:
main_ent='Person'
result=[]
for srv in services:
    model = oc.service_model(srv)
    ent=model.getDefaultEntityName()
    if ent==main_ent:
        result.append(srv)
result

['createPerson', 'createUpdatePerson', 'updatePerson']